.App {
  text-align: center;
}

.btn-group {
        width: 600px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
}
.btn-group>* {
    flex: 1 1 160px;
}

.myautowrapbox {
        display: flex;
        flex-wrap: wrap;
}

.flextextarea{
  display: flex;
  flex-wrap: wrap;
}
html, body {
  height: 95%;
  width: 98%;
  margin: 10px;
}

textarea {
  width: 95%;
  height: 95%;
  margin: auto;
  resize: none;
}
